input{
    border-radius: 5px 5px 5px 5px;
    border: solid orange;
    width: 110px;
    height: 50px;
    overflow: scroll; 
}

button{
    background-color: orange;
    border-radius:50px 50px 50px 50px
}

#div2{
    /* margin: 10px 15px 20px 25px; */
    width: 110px;
    height: 220px;
    border: solid orange;
    border-radius: 10px 10px 10px 10px;
    background-color:black
}
